div {
  display: block;
}

body {
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}

ul {
  text-align: left;
  padding-left: 0;
}

input {
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace, sans-serif;
  font-size: 1.1em;
  padding-left: 2.5px;
  padding-right: 2.5px;
}

title {
  vertical-align: middle;
  text-align: center;
}

h4 {
  font-size: 5em;
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  color: black;
}

li {
  margin-left: 20px;
  padding: 0px;
  height: 8p;
}

.countdown {
  font-size: 22;
  background-color: yellow;
}

.red {
  color: red;
}

.green {
  color: green;
}

.wrapper, h5{
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

#guess {
  width: 295px;
  height: 30px;
}

.input {
  margin-bottom: 30px;
}

#guesses {
  background-color: white;
}



